############################################
# Terraform
############################################
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
*.hcl

# Do not commit Terraform lock files
.terraform.lock.hcl
**/.terraform.lock.hcl

# Local variable files can contain secrets
*.tfvars
!terraform.tfvars.example

# Terraform override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Keep provider lock file committed
# !.terraform.lock.hcl

############################################
# GCP-INFRA
############################################
gcp-infra/.generated/
**/.generated/

############################################
# ADC
############################################
Thunder_shared.txt
**/Thunder_shared.txt


############################################
# FAILOVER-VM
############################################
**/a10-failover.sh.org